<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Yeta0100Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.Yeta0100ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Yeta0100Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/Yeta0100Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Yeta0200Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.Yeta0200ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Yeta0200Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/Yeta0200Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Yeta0300Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.Yeta0300ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Yeta0300Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/Yeta0300Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Yeta0400Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.Yeta0400ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Yeta0400Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/Yeta0400Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YetaP03001Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.YetaP03001ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetaP03001Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/YetaP03001Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YetaP03002Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.YetaP03002ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetaP03002Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/YetaP03002Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YetaP03003Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.YetaP03003ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetaP03003Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/YetaP03003Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YetaP03004Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.YetaP03004ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetaP03004Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/YetaP03004Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YetaP03005Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.YetaP03005ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetaP03005Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/YetaP03005Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YetaP03006Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.YetaP03006ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetaP03006Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/YetaP03006Service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YetaP03007Service</servlet-name>
		<servlet-class>com.app.exterms.yearendtax.server.service.YetaP03007ServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YetaP03007Service</servlet-name>
		<url-pattern>/com.app.exterms.yearendtax.YearEndTax/YetaP03007Service</url-pattern>
	</servlet-mapping>
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
</web-app>
