*.log
*.class
*.prefs
*.txt
*.js
*.jar
*.lst
*.classpath
*.project
*.properties
*.png
*.gif
*.jpg
*.css
*.ico
*.pptx
*.doc
*.jsp

.settings/
gwt-unitCache/
symbolMaps/
rpcPolicyManifest/
RemoteSystemsTempFiles/
sf/